#root {
  font-family: 'Inter', sans-serif;
  margin: auto;
  text-align: center;
}

body, #root {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 0;
}
